*.zip
*.tfvars
*.tfplan
*.tfstate
*.tfstate.backup
bin/
archive
archive/**/*

.github/workflows/secrets/**

# NodeJS
**/node_modules/**
node_modules/**/**/*
node_modules

## Ruby
vendor

.ssh/**
.ssh
./ssh
*.pem
*.pub
*.cert
.aws
.aws/**
.history
.vscode


tfgitkp.*
tfgitkp

*.env

/lab/terraform/.terraform/*